@tailwind base;
@tailwind components;
@tailwind utilities;

.border-glowing {
  border: 2px solid silver;
  border-radius: 7px;
}

.border-glowing:focus {
  outline: none;
  border-color: rgb(130, 92, 130);
  box-shadow: 0 0 10px purple;
}
